@use 'vars' as v;
@use 'mixin' as m;

.gallery__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 214px;
  gap: 10px;
  margin-bottom: 60px;
}

.grid-item {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.grid-item:first-child {
  grid-row: span 2;
  grid-column: span 2;
}

@media screen and (max-width: 1200px) {
  .gallery__grid {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 200px;
  }
}
@media screen and (max-width: 992px) {
  .gallery__grid {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 180px;
  }
}

@media screen and (max-width: 768px) {
  .grid-item:first-child {
    grid-row: span 1;
    grid-column: span 2;
  }
}

@media screen and (max-width: 600px) {
  .grid-item:first-child {
    grid-row: span 1;
    grid-column: span 1;
  }
  .gallery__grid {
    grid-template-columns: 1fr;
    grid-auto-rows: 180px;
    padding: 0 50px;
  }
}
@media screen and (max-width: 480px) {
  
  .gallery__grid {
    padding: 0 20px;
  }
}
