@use 'vars' as v;
@use 'mixin' as m;

.header {
  position: absolute;
  left: 0;
  right: 0;
  top: 33px;
  z-index: 9;

  &__wrapper {
    padding-top: 20px;
    @include m.flex(space-between);
  }
}

.nav {
  max-width: 515px;
  width: 100%;
  margin: 0 auto;

  &__list {
    @include m.flex(center);
    gap: 70px;
  }

  &__link {
    font-family: v.$header-family;
    font-size: 14px;
    color: #fff;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      width: 9px;
      height: 9px;
      left: -20px;
      top: 5px;
      border: 1px solid #fff;
      border-radius: 50%;
      background-color: transparent;
      transition: all 0.3s;
    }

    &:hover::before {
      background-color: #fff;
    }
  }
}

.socials {
  @include m.flex();
  gap: 20px;

  &__link:hover .icon {
    transform: scale(1.05);
    color: #00ff88;
  }
}

.icon {
  cursor: pointer;
  height: 40px;
  width: 40px;
  transition: all 0.3s ease;
  color: #fff;
  @include m.flex(center);
}

.burger {
  display: none;
}

@media screen and (max-width: 996px) {
  .header {
    top: 25px;
  }
  .nav {
    &__list {
      gap: 50px;
    }
  }
}

@media screen and (max-width: 768px) {
  .header {
    top: 10px;
  }
  .burger {
    display: block;
    width: 30px;
    height: 1px;
    background-color: #fff;
    position: relative;

    &::before,
    &::after {
      content: '';
      position: absolute;
      background-color: #fff;
      width: 100%;
      height: 100%;
      left: 0;
    }

    &::after {
      bottom: -10px;
    }

    &::before {
      top: -10px;
    }
  }

  .burger.close {
    position: absolute;
    z-index: 999;
    background-color: #fff;
    top: 80px;
    right: 30px;
    transform: rotate(-45deg);
    &::before {
      opacity: 0;
    }
    &::after {
      transform: rotate(90deg);
      bottom: 0;
    }
  }
  .header {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .nav {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(42, 85, 126, 0.9);
    padding: 80px 0;
    text-align: center;


    &__list {
      flex-direction: column;
      gap: 30px;
    }
    &.active {
      display: block;
    }
  }
}

@media screen and (max-width: 480px) {
  // .header {
  //   position: fixed;
  
  .socials {
    display: none;
  }
}
