@use 'vars' as v;
@use 'mixin' as m;

.hero {
  position: relative;
  // padding-top: 107px;
  // background: url('../assets/images/bg_image.png') no-repeat;
  background-size: contain;
  width: 100%;
  // height: 800px;
  margin-bottom: 100px;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    // background: linear-gradient(
    //   207deg,
    //   rgba(126, 90, 255, 1) 0%,
    //   rgba(85, 183, 255, 0.99) 100%
    // );
    width: 100%;
    height: 100%;
    z-index: -1;
  }
}

.screen {
  width: 100%;
  // max-width: 919px;
  height: 100%;
  // margin: 223px auto;
  text-align: center;
}

.main__title {
  font-weight: 700;
  font-size: 80px;
  letter-spacing: 0.1rem;
  margin-bottom: 20px;
  // white-space: nowrap;
  text-transform: uppercase;
}

.subtitle {
  letter-spacing: 0.3rem;
}

.arrow_btn {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  background: url('../assets/images/Arrow.svg') no-repeat;
  width: 40px;
  height: 40px;
}

#more_details{
  opacity: 0.5;
  cursor: not-allowed;
}


@media screen and (max-width: 996px) {
  // .hero {
  //   height: 600px;
  // }
  // .screen {
  //   padding-top: 150px;
  // }

  .main__title {
    font-size: 50px;
  }
  .subtitle {
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  // .hero {
  //   height: 400px;
  // }
  // .screen {
  //   padding-top: 70px;
  // }
  .main__title {
    font-size: 36px;
  }
  .subtitle {
    font-size: 14px;
  }
  // .dots {
  //   flex-direction: row;
  //   top: 90%;
  //   left: 50%;
  //   transform: translate(-50%, -50%);
  //   height: 10px;
  //   width: 210px;
  // }
}

@media screen and (max-width: 480px) {
  // .screen {
  //   padding-top: 40px;
  // }
  .main__title {
    font-size: 30px;
  }
}
