@use 'vars' as v;
@use 'mixin' as m;

.title_2 {
  font-weight: 700;
  font-size: 44px;
  text-align: center;
  color: v.$main-color;
  position: relative;
  margin-bottom: 162px;

  &::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 1px;
    background-color: v.$main-color;
    top: -30px;
  }
}

.content__wrapper {
  @include m.flex();
  flex-direction: column;
  row-gap: 120px;
  margin-bottom: 150px;
}
.content__box {
  @include m.flex(space-between);
  gap: 50px;
}
.image {
  max-width: 630px;
  width: 100%;
  max-height: 470px;
  height: 100%;
  position: relative;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.rect {
  position: absolute;
  z-index: -1;
  background-color: #55b7ff;
  top: -12%;
  bottom: 12%;
  left: -34%;
  right: 42%;
}
.description {
  max-width: 470px;
  color: v.$main-color;
}
.title_3 {
  font-size: 22px;
}
.desc_title {
  font-weight: 700;
  font-size: 44px;
  white-space: nowrap;
  margin-bottom: 19px;
  max-width: 476px;
}
.text {
  font-family: v.$third-family;
  line-height: 167%;
  max-width: 470px;
  margin-bottom: 40px;
}
.more_btn {
  font-size: 14px;
  color: #000;
  padding: 16px 41px;
  border: 1px solid v.$main-color;
  // margin-bottom: 60px;
  transition: all 0.3s linear;
  display: block;
  margin: 0 auto 60px;

  &:hover {
    transform: scale(1.1);
  }
}

.more_btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
  transform: none !important; /* disable hover scale */
  pointer-events: none; /* prevent hover/active */
}

.coords {
  font-family: v.$third-family;
  font-style: italic;
  font-size: 15px;
  color: #000;
  position: relative;
  padding-left: 19px;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 15px;
    background-image: url('../assets/images/pointer.svg');
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.reverse {
  flex-direction: row-reverse;
}

.rect_2 {
  position: absolute;
  background-color: #7e5aff;
  left: 42%;
  right: -34%;
  top: -12%;
  bottom: 12%;
  z-index: -1;
}

@media screen and (max-width: 996px) {
  .title_2 {
    font-size: 30px;
    margin-bottom: 100px;
  }
  .desc_title {
    font-size: 28px;
  }
}

@media screen and (max-width: 860px) {
  .content__wrapper {
    row-gap: 60px;
    margin-bottom: 50px;
  }
  .content__box {
    flex-direction: column;
    gap: 30px;
  }
  .title_2 {
    font-size: 24px;
    margin-bottom: 70px;
  }
  .desc_title {
    font-size: 22px;
  }
  .title_3 {
    font-size: 20px;
  }
}

@media screen and (max-width: 480px) {
  .content__box {
    row-gap: 40px;
  }
  .more_btn {
    display: block;
    margin: 20px auto;
  }
  .title_3 {
    font-size: 18px;
  }
  .text {
    font-size: 16px;
    margin-bottom: 20px;
  }
}

