@use 'reset';
@use 'fonts';
@use 'vars' as v;
@use 'mixin' as m;
@use 'slider';
@use 'header';
@use 'hero';
@use 'section';
@use 'cards';
@use 'gallery';
@use 'map';
@use 'contact';
@use 'footer';

html, body {
  overflow-x: hidden;
}

// html {
//   scroll-behavior: smooth;
// }

body {
  font-family: v.$font-family;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  background-color: #fff;
  min-height: 100%;
  width: 100vw;
}

.wrapper {
  // max-width: 1600px;
  // width: 100%;
  margin: 0 auto;
  position: relative;
}

.container {
  margin: 0 auto;
  max-width: v.$container-width;
  padding: 0 15px;
}
